body {
background-color:#E6E6E6;
background-attachment: fixed;

}
footer {
background-color: black;
color: white;
text-align: center;
letter-spacing: 10px;
font-style: italic;
font-weight: bold;
line-height: 1.4em;
font-family: "Serif";
font-size: 1.2em;

}
header {
	margin-right: 5px; 
		margin-top: -35px; 



}

.banner  {
text-align: center;
}
